.main-animais {
  background-color: #fcf5e7;
  background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
  border-radius: 5px;
  width: auto;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 100px 100px;
}


img.animais {
  width: auto;
  height: 400px;
  margin: 30px 0 50px 0;

}

.section-conteudo-animais {
  width: 100%;
  margin-top: 20px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.section-conteudo-animais p {
  justify-content: center;
}

.section-conteudo-animais img {
  height: 450px;
}

.section-conteudo-animais img.quadribol {
  margin-bottom: 20px;
}


.section-conteudo-animais img.quadribol-bola {

  width: 300px;
  height: auto;


}

.section-conteudo-animais img.maroto-mapa {
  width: 250px;
  height: auto;
  margin-bottom: 0;
}

.section-conteudo-animais img.maroto {
  width: 450px;
  height: auto;
}

.section-conteudo-animais h2.maroto {
  margin: 20px 0 30px 0;
}

.section-conteudo-animais h3 {
  margin: 20px 0 10px 0;
  font-size: 20px;
}

.section-conteudo-animais img,
h4,
h2,
h1 {
  margin: 10px 0 30px 0;
}

.section-conteudo-animais h1 {
  text-transform: uppercase;
  margin-bottom: 50px;
}

.section-conteudo-animais h2 {
  display: block;
  border-bottom: solid 1px #215370;
  margin-bottom: 70px;
}

.section-conteudo-animais h4 {
  font-style: italic;
}

.section-conteudo-animais iframe {
  width: 700px;
  height: 465px;
}

@media screen and (max-width: 1024px) {

  .main-animais {
    font-size: 13px;
    padding: 0 60px 90px 60px;
  }

  .section-conteudo-animais img.maroto {
    width: 400px;
    height: auto;
  }

  .section-conteudo-animais img.animais {
    height: 300px;
  }

  .section-conteudo-animais img.quadribol {
    height: 300px;
  }

  .section-conteudo-animais iframe {
    width: 500px;
    height: 332px;
  }
}



@media screen and (max-width: 768px) {

  .main-animais {
    padding: 0 30px 100px 30px;
    position: relative;
    top: -10px;
  }

  .section-conteudo-animais img.animais {
    width: 300px;
    height: auto;
  }

  .section-conteudo-animais img.animais-capa {
    width: 200px;
    height: auto;
  }

  .section-conteudo-animais img.maroto {
    width: 300px;
    height: auto;
  }

  .section-conteudo-animais img.quadribol {
    height: 200px;
  }

  .section-conteudo-animais iframe {
    width: 320px;
    height: 265px;
  }
}