* {
  padding: 0;
  margin: 0;
  cursor: url(./imagens/Harry\ Potter\ Cursor\ Normal\ Wand.cur), default;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #0a1417;
  min-width: 400px;
  max-width: 1300px;
  width: 100%;
  text-align: justify;
  font-family: "Noto Serif", serif;
}

h1,
h2,
h3,
h4,
li {
  font-family: "EB Garamond", serif;
}

h1 {
  font-size: 35px;
}

.header img {
  width: 100%;
  height: auto;
  cursor: url(./imagens/Varinha\ Harry\ Potter\ Expeliarmus.cur), default;
}

/* 
span .material-symbols-outlined {
  display: none;
  background-color: #fcf5e7;
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

*/

/* 
.navegacao-ul {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;

  font-size: 14px;
  text-transform: uppercase;
  background-color: #143446;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
  top: -1vh;
}


.navegacao ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.navegacao ul li a {
  width: 110px;
}

.navegacao-conteudo {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
}

.navegacao-conteudo:hover {
  background-color: #215370;
}

.navegacao-conteudo-texto {
  color: #a7b3ba;
  text-decoration: none;
} */
/* ---------------------------------------Menu navegação */
.navegacao ul {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;

  font-size: 14px;
  text-transform: uppercase;
  background-color: #143446;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
  top: -1vh;
}

.navegacao ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navegacao ul li a {
  width: 110px;
}

.navegacao-conteudo {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  cursor: url(/imagens/Nimbus\ 2000.cur), default;
}

.navegacao-conteudo:hover {
  background-color: #215370;
}

.navegacao-conteudo-texto {
  color: #d7dee2;
  text-decoration: none;
  cursor: url(/imagens/Nimbus\ 2000.cur), default;
}

/* ---------------------------------------Menu navegação */

.main {
  border-radius: 5px;

  margin: 0 3%;
  display: flex;
  align-items: center;
  /* padding: 0 100px 100px 100px; */
  background-image: url("./imagens/fundo/pergaminho1.jpg");
  background-position: center;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 50px;
  border: 2px solid transparent;
  border-radius: 15px;
  gap: 20px;
}

#logo-hogwarts {
  width: 100px;
}

.section h1 {
  font-size: 25px;
  margin: 20px;
  text-align: center;
}

.section p {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 50px;
}

div.assinatura {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

footer img {
  width: 80px;
  position: relative;
  top: -40px;
}

footer p {
  margin-bottom: 20px;
  position: relative;
  top: -15px;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 28px;
  }

  .navegacao ul {
    height: 40px;

    font-size: 11px;
  }

  .navegacao ul li {
    width: 90px;
  }

  .navegacao ul li a {
    width: auto;
  }

  div.assinatura img {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: 500px;
  }

  h1 {
    font-size: 25px;
  }

  .navegacao-conteudo {
    margin: 0;
  }

  .menu-icon {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #143446;
    border: 2px solid transparent;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    top: -20px;
    cursor: pointer;
  }

  .menu-icon:hover {
    background-color: #215370;
  }

  .center-lines {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-around;
    margin: 2px 0;
  }

  .line-1,
  .line-2,
  .line-3 {
    position: relative;

    width: 30px;
    height: 2px;
    background-color: #a7b3ba;
    border-radius: 3px;
  }

  #menu {
    display: none;
  }

  .navegacao ul {
    font-size: 13px;
    padding: 5px;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 20px);
    gap: 5px;
    height: auto;
    border-radius: 5px;
    top: -20px;
    bottom: 2vh;
  }

  .navegacao ul li {
    width: auto;
  }

  .navegacao ul li a {
    width: auto;
    display: block;
  }

  main {
    position: relative;
    top: -15px;
  }
}

/* 
@media (max-height: 1400px) {
  .section-conteudo-imagem-assinatura {
    left: 17vh;
    top: 0;
  }

  .footer-imagem {
    top: -5vh;
  }
}

@media (max-width: 1080px) {
  .navegacao {
    height: auto;
  }
}

@media (max-height: 920px) {
  .footer-imagem {
    top: -5vh;
  }
}

@media (max-width: 900px) {
  .section-conteudo-imagem-assinatura {
    left: 50vh;
  }
}

@media (max-height: 1025px) {
  .section-conteudo-imagem-assinatura {
    left: 20vh;
    top: 0;
  }
}

@media (max-width: 730px) {
  .navegacao {
    height: auto;
  }

  .navegacao-conteudo-texto {
    font-size: 10px;
  }

  .navegacao-conteudo-texto {
    color: #a7b3ba;
    text-decoration: none;
    font-size: 10px;
  }

  .section-conteudo-imagem-assinatura {
    left: 30vh;
  }

  .footer-imagem {
    width: 100px;
    height: 100px;
  }

  .footer-texto {
    font-size: 13px;
  }
}

@media (max-width: 570px) {
  .navegacao {
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
    bottom: 5vh;
  }

  .navegacao-conteudo-texto {
    color: #a7b3ba;
    text-decoration: none;
    font-size: 10px;
    margin: 2px;
  }

  .main-conteudo-texto-principal {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
  }

  .main-conteudo-texto-secundario {
    font-size: 13px;
    text-align: none;
  }

  .main-conteudo-imagem-assinatura {
    left: 0;
    width: 150px;
    height: 50px;
  }

  .footer-imagem {
    width: 75px;
    height: 75px;
  }

  .footer-texto {
    color: #a7b3ba;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
  }
}  */
